In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
DATASET = '../dataset/unemployment_month_US.csv'
df = pd.read_csv(DATASET)
df.columns = df.columns.str.strip()

In [3]:
month_to_num = {'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06', 'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'}
dates = []

for year in df['Year']:
    for month in month_to_num:
        date = str(year) + '-' + month_to_num[month]
        dates.append(date)

unemployment_rates = []
for year in df['Year']:
    for month in df.columns[1:]:
        to_add = df[df['Year'] == year][month]
        to_add = np.array(to_add)
        to_add = to_add[0]
        unemployment_rates.append(to_add)

print(unemployment_rates)

new_df = pd.DataFrame({'Year-Month': dates, 'unemployment_rate': unemployment_rates})
new_df['Year-Month'] = pd.to_datetime(new_df['Year-Month'])
new_df['Year-Month'] = new_df['Year-Month'].dt.to_period('M')
print(new_df.dtypes)

[9.8, 9.8, 9.9, 9.9, 9.6, 9.4, 9.4, 9.5, 9.5, 9.4, 9.8, 9.3, 9.1, 9.0, 9.0, 9.1, 9.0, 9.1, 9.0, 9.0, 9.0, 8.8, 8.6, 8.5, 8.3, 8.3, 8.2, 8.2, 8.2, 8.2, 8.2, 8.1, 7.8, 7.8, 7.7, 7.9, 8.0, 7.7, 7.5, 7.6, 7.5, 7.5, 7.3, 7.2, 7.2, 7.2, 6.9, 6.7, 6.6, 6.7, 6.7, 6.2, 6.3, 6.1, 6.2, 6.1, 5.9, 5.7, 5.8, 5.6, 5.7, 5.5, 5.4, 5.4, 5.6, 5.3, 5.2, 5.1, 5.0, 5.0, 5.1, 5.0, 4.8, 4.9, 5.0, 5.1, 4.8, 4.9, 4.8, 4.9, 5.0, 4.9, 4.7, 4.7, 4.7, 4.6, 4.4, 4.4, 4.4, 4.3, 4.3, 4.4, 4.3, 4.2, 4.2, 4.1, 4.0, 4.1, 4.0, 4.0, 3.8, 4.0, 3.8, 3.8, 3.7, 3.8, 3.8, 3.9, 4.0, 3.8, 3.8, 3.7, 3.6, 3.6, 3.7, 3.6, 3.5, 3.6, 3.6, 3.6, 3.6, 3.5, 4.4, 14.8, 13.2, 11.0, 10.2, 8.4, 7.8, 6.8, 6.7, 6.7, 6.4, 6.2, 6.1, 6.1, 5.8, 5.9, 5.4, 5.1, 4.7, 4.5, 4.1, 3.9, 4.0, 3.8, 3.6, 3.7, 3.6, 3.6, 3.5, 3.6, 3.5, 3.6, 3.6, 3.5]
Year-Month           period[M]
unemployment_rate      float64
dtype: object

In [4]:
SAVETO = '../udataset/unemployment_month_US.csv'
new_df.to_csv(SAVETO, index=False)
new_df

    Year-Month  unemployment_rate
0      2010-01                9.8
1      2010-02                9.8
2      2010-03                9.9
3      2010-04                9.9
4      2010-05                9.6
..         ...                ...
151    2022-08                3.6
152    2022-09                3.5
153    2022-10                3.6
154    2022-11                3.6
155    2022-12                3.5

[156 rows x 2 columns]